<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
<style>

.start {
    position : absolute;

    left     : 50%;
    top      : 50%;
    margin-left : -200px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}
</style>

</head>



<br>
<br>
<br>
<body bgcolor="black" text="gray">


<div id="start" class="start">

<p>
<form action="" method="post">


   <font size="12">  Hi ,</font>

  <br>

    <font size="12">START THE PLAYBACK  FOR {{value}} !!</font>



 <input id="submit" type="submit" value="BEGIN NOW!" style="margin:auto;display:block" >


</form>
</div>
</body>
</html>
</body>
</html>